
{{#if err}}

    <h1 style="text-align: center; text-align:justify"> {{err}} </h1>

{{else}}

    <h3 style="text-align: center; text-align:justify"> Oh no! ha ocurrido un error, intente mas tarde</h3>

{{/if}}


<a href="http://localhost:8080/home" > 
    <button style="text-decoration: none; color:black"> Volver </button> 
</a>
