<h1 style="text-decoration: underline; text-align:center">Home</h1>

<div class="Login">
    <form action="http://localhost:8080/api/user/login" method="post">
        <input type="text" name="email" id="email" placeholder="email...">
        <input type="password" name="password" id="password" placeholder="***">
        <input type="submit" value="Loguearse">
    </form>
</div>

<div class="Register">
    <form action="http://localhost:8080/api/user/register" method="post">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="email" placeholder="email" required="true">
        <input type="password" name="password" placeholder="password">
        <input type="tel" name="phone" id="phone", placeholder="phone">
        <input type="submit" value="Registrarse">
    </form>
</div>

{{!-- <div class="gitHub">
    <form action="http://localhost:8080/api/github/register" method="get">
        <input type="submit" value="Github">
    </form>
</div> --}}